<!--
  TODO: Write a calendar component that lists out tasks in list view.
  Reference this keynote to see what it looks like:
  https://drive.google.com/drive/u/0/folders/1VVL2l6mtvzJid14B08FeY12nx9PLVCim
-->
<!DOCTYPE html>
<html>
    <head>
      <title>Calendar</title>
    </head>
    <style type="text/css">
     :root {
      --lg-txt: 50px;
    --md-txt: 25px;
    --sm-txt: 20px;
    }

    body {
      background-color: black;
      margin:0;
    }
      p, li, h1, span{
        color: white;
        font-family: sans-serif; 
        font-weight: 200;
        margin: 0;
        line-height: 1.2;
      }
      .content {
        display: flex;
        flex-direction: column; 
        height: 100vh; 
      }
      .top {
        display: flex; 
        justify-content: space-between; 
        flex: 1;
        padding: 50px 60px;
      }
      #time {font-size: var(--lg-txt)}
      #date span {
        font-size: var(--md-txt);
        font-weight: bold;
      }
      #view-comm {
        font-size: var(--md-txt);
        margin-top: 20px;
      }
      #title {font-size: var(--lg-txt)}
      .info p{
        margin-bottom: 5px;
      }
      .calendar {
        /*min-height: 200px; */
        font-size: var(--md-txt);
        width: 100%; 
        margin-top: 50px;
        border: white 2px solid; 
          padding: 30px;
          box-sizing: border-box;
          border-radius: 4px;
      }
      .bot {padding: 50px 60px;}
      .today { margin-bottom: 20px;}
      .today span {
        font-weight: bold;
      }      
      .item {
        list-style: none;
        padding-left: 0;
        font-size: var(--md-txt);

      }
      .item li {
        line-height: 1.5;
      }
    </style>
<body>
<div class="content">
  <div class="top">
    <div>
      <p id="title">
          <b> Calendar </b>
      </p>
    </div>
    <div class="info">
      <p id="time"></p>
      <span id="date">
        <span id="day-short"></span>
        <span id="date-num"></span>
      </span>
      <p id="view-comm"> 
            Say “view commands” <br/>
            to see what I can do!
      </p>
    </div>
  </div>
  <div class="bot">
    <div class="calendar">
      <div class="today">
          <span id="day-long"></span>
          <span id="header"></span>
      </div>
      <div class="today"><p><b>In 24 hrs:</b></p></div>
<!--       <ul class="item">
        <li>10:30 am - 12:00 pm</li>
        <li><b>Google Interview</b></li>
        <li>Career Center, Los Angeles, CA 90024</li>
      </ul>
      <ul class="item">
        <li>10:30 am - 12:00 pm</li>
        <li><b>Google Interview</b></li>
        <li>Career Center, Los Angeles, CA 90024</li>
      </ul>
      <ul class="item">
        <li>10:30 am - 12:00 pm</li>
        <li><b>Google Interview</b></li>
        <li>Career Center, Los Angeles, CA 90024</li>
      </ul>
    </div> -->
  </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
  var storageItem = localStorage.getItem('events');
  events = JSON.parse(storageItem);
  console.log(events);
  console.log((new Date()).toISOString());

  function appendCalendarItem(message, when, location) { 
    var text = '<ul class="item"><li>' + when + '</li><li><b>' + message + '</b></li><li>' + location + '</li></ul>';
    console.log(text);
    $(".calendar").append(text);
  }

  if (events.length > 0) {
    for (i = 0; i < events.length; i++) {
      var event = events[i];
      var when = event.start.dateTime;
      var where = event.location;
      if (!where){
        where = "";
      }
      if (!when) {
        when = event.start.date;
      }

      // Some dirty splits and joins to get the time in correct format
      time = ((when.split('T')[1]).split('-')[0]).split(':');
      var hours = Number(time[0]);
      var minutes = Number(time[1]);
      var timeValue;
      if (hours > 0 && hours <= 12) {
        timeValue= "" + hours;
      } else if (hours > 12) {
        timeValue= "" + (hours - 12);
      } else if (hours == 0) {
        timeValue= "12";
      }
      timeValue += (minutes < 10) ? ":0" + minutes : ":" + minutes;
      timeValue += (hours >= 12) ? " P.M." : " A.M.";
 

      appendCalendarItem(event.summary, timeValue, where);
    }
  } else {
    appendCalendarItem('No upcoming events found.');
  }
</script>
<script>
  var ws = new WebSocket("ws://localhost:40510");
  // event emmited when connected
  ws.onopen = function() {
    console.log("websocket is connected ...");
    // sending a send event to websocket server
    ws.send("connected");
  };
  ws.onmessage = function(ev) {
    console.log(ev.data);
    const path = ev.data;
    window.location.href = "/" + path;
  };

  var dt = new Date();
  document.getElementById("time").innerHTML = dt.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
  document.getElementById("date-num").innerHTML = dt.toLocaleDateString();
  document.getElementById("header").innerHTML = dt.toLocaleDateString();
  document.getElementById("day-long").innerHTML = dt.toLocaleString(window.navigator.language, {weekday: 'long'}).toUpperCase();
  document.getElementById("day-short").innerHTML = dt.toLocaleString(window.navigator.language, {weekday: 'short'});
</script>
</body>
</html>
