<!--
  TODO: Write a calendar component that lists out tasks in list view.
  Reference this keynote to see what it looks like:
  https://drive.google.com/drive/u/0/folders/1VVL2l6mtvzJid14B08FeY12nx9PLVCim
-->

<div>
  <ul>
    <li><h1>List Item 1</h1></li>
    <li><h1>List Item 2</h1></li>
    <li><h1>List Item 3</h1></li>
    <li><h1>List Item 4</h1></li>
  </ul>
</div>
<script>
  var ws = new WebSocket("ws://localhost:40510");
  // event emmited when connected
  ws.onopen = function() {
    console.log("websocket is connected ...");
    // sending a send event to websocket server
    ws.send("connected");
  };
  ws.onmessage = function(ev) {
    console.log(ev.data);
    const path = ev.data;
    window.location.href = "/" + path;
  };
</script>
