<!--
  TODO: Write a calendar component that lists out tasks in list view.
  Reference this keynote to see what it looks like:
  https://drive.google.com/drive/u/0/folders/1VVL2l6mtvzJid14B08FeY12nx9PLVCim
-->
<!DOCTYPE html>
<html>
    <head>
      <title>Calendar</title>
    </head>
    <style type="text/css">
      body {
        background-color: black;
      }
      p, li, h1{
        color: white;
        font-family: sans-serif; 
      }
      .content {
        display: flex;
        flex-direction: column; 
        /*height: 100vh; */
        padding: 50px;
      }
      .calendar {
        /*min-height: 200px; */
        width: 100%; 
        border: white 1px solid; 
        padding: 30px; 
        box-sizing: border-box;
        border-radius: 4px;
        margin-top: 50px;
      }
      h1 {
        font-family: sans-serif; 
        font-weight: bold; 
        font-size: 2rem; 
        margin: 0;
        margin-bottom: 20px;
      }
      #time {
        font-size: 40px;
      }
      .item {
        list-style: none;
        padding-left: 0;
        font-size: 1.7rem;
        line-height: 1.5;
      }
    </style>
<body>



<div class="content">
  <div style="display: flex; justify-content: space-between;">
    <div>
      <p style="font-size: 40px; margin-top: 32px;">
          <b> Calendar </b>
      </p>
    </div>
    <div style="font-size: 2rem;">
        <p>
            <span id="time"></span>
        </p>
        <p  font-style: bold;">
            <span id="date"></span>
        </p>
        <p>
            Say “view commands” <br/>
            to see what I can do!
        </p>
    </div>
  </div>
  <div class="calendar">
    <h1>
      <span id="day"></span>
      <span id="header"></span>
    </h1>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
  var ws = new WebSocket("ws://localhost:40510");
  // event emmited when connected
  ws.onopen = function() {
    console.log("websocket is connected ...");
    // sending a send event to websocket server
    ws.send("connected");
  };
  ws.onmessage = function(ev) {
    console.log(ev.data);
    const path = ev.data;
    window.location.href = "/" + path;
  };

  var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
  var dt = new Date();
  document.getElementById("time").innerHTML = dt.toLocaleTimeString();
  document.getElementById("date").innerHTML = dt.toLocaleDateString();
  document.getElementById("header").innerHTML = dt.toLocaleDateString();
  document.getElementById("day").innerHTML = (dt.toLocaleString(window.navigator.language, {weekday: 'long'})).toUpperCase();

  var storageItem = localStorage.getItem('events');
  events = JSON.parse(storageItem);
  console.log(events);
  console.log((new Date()).toISOString());

  function appendCalendarItem(message, when, location) { 
    var text = '<ul class="item"><li>' + when + '</li><li><b>' + message + '</b></li><li>' + location + '</li></ul>';
    console.log(text);
    $(".calendar").append(text);
  }

  if (events.length > 0) {
    for (i = 0; i < events.length; i++) {
      var event = events[i];
      var when = event.start.dateTime;
      var where = event.location;
      if (!where){
        where = "";
      }
      if (!when) {
        when = event.start.date;
      }

      // Some dirty splits and joins to get the time in correct format
      time = ((when.split('T')[1]).split('-')[0]).split(':');
      var hours = Number(time[0]);
      var minutes = Number(time[1]);
      var timeValue;
      if (hours > 0 && hours <= 12) {
        timeValue= "" + hours;
      } else if (hours > 12) {
        timeValue= "" + (hours - 12);
      } else if (hours == 0) {
        timeValue= "12";
      }
      timeValue += (minutes < 10) ? ":0" + minutes : ":" + minutes;
      timeValue += (hours >= 12) ? " P.M." : " A.M.";
 

      appendCalendarItem(event.summary, timeValue, where);
    }
  } else {
    appendCalendarItem('No upcoming events found.');
  }
</script>
</body>
</html>
