<!--
  TODO: render a page that greets the user and prompts them for audio input
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Smart Mirror</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Smart Mirror</h1>
    <p><%= title %></p>
    <script>
      const SOCKET_PORT = 40510;

      var ws = new WebSocket(`ws://localhost:${SOCKET_PORT}`);
      ws.onopen = function () {
          console.log('websocket is connected')
          ws.send('connected')
      }
      //Receive message from server
      ws.onmessage = function (ev) {
          console.log(ev);
      }
    </script>
  </body>
</html>
