<!--
  TODO: render a page that greets the user and prompts them for audio input
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Smart Mirror</title>
<!--     <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <style type="text/css">
	  body {
	    background-color: black;
	    margin:0;
	  }
      p, li, h1, span{
        color: white;
        font-family: sans-serif; 
        font-weight: 200;
        margin: 0;
      }

      .content {
        display: flex;
        flex-direction: column; 
        height: 100vh; 
      }

      .top {
      	display: flex; 
      	justify-content: space-between; 
      	flex: 1;
      	padding: 50px 60px;
      }

      #time {font-size: 35px;}
      #date {
      	font-size: 20px;
      	font-weight: bold;
      	margin-bottom: 20px;
      }
      #view-comm {
      	font-size: 20px;
      	line-height: 1.2;
      }
	  #title {font-size: 40px;}
	  .info {font-size: 2rem;}
	  .info p, .todo-box p {
	  	margin-bottom: 5px;
	  }
	  .box {
	  	border: white 2px solid; 
        padding: 20px;
        box-sizing: border-box;
        border-radius: 4px;
	  }
	  .weather-box {
	  	margin-top: 25px;
	  	display:flex;
        justify-content: space-between;
    	flex-direction:row;
    	min-width: 200px;
	  }
	  .weather-box p {
	  	font-size: 15px;
	  	line-height: 1.5;
	  }
	  .weather-box div {
	  	display:flex;
    	flex-direction:column;
	  }
	  #temp {font-size: 28px;}
	  .bot {padding: 50px 60px;}
	  .todo-box {
	  	font-size: 20px;
	  	padding: 20px 0 20px;
	  }
	  .today {
	  	margin: 0 20px 20px;
	  }
	  .today span {
	  	font-weight: bold;
	  }
	  .items {
        display:flex;
        justify-content: space-between;
    	flex-direction:row;
	  }
	  .item {
	  	 flex-grow:1;
         flex-basis: 0;
         border-right: 2px solid white;
         padding-left: 20px;
	  }
	  .item:last-child {
	  	border-right: none;
	  }
	  .item p:nth-child(3) {
	  	font-size: 15px;
	  }

	</style>
	</head>
	<body>
	<div class="content">
	<div class="top">
	  <div>
	    <p id="title">
	        <b> Hi, Helen! </b>
	        <!-- <b><%= title %></b> -->
	    </p>
	    <div class="weather-box box">
	      	<div>
				<p><b> Los Angeles </b></p>
				<p>Sunny</p>
				<p>0% Rain</p>
			</div>
			<div>
				<div style="display: block; margin: auto;"><img src="d01.svg" style="width: 50px"></div>
				<p id="temp">75°</p>
		  	</div>
		</div>
	  </div>
	  <div class="info">
	    <p id="time"></p>
	    <p id="date"></p>
	    <p id="view-comm"> 
	          Say “view commands” <br/>
	          to see what I can do!
	    </p>
	  </div>
	</div>
	<div class="bot">
	<div class="todo-box box">
		<div class="today">
			<img src="d02.svg" style="width: 20px; margin-top: 0px; margin-right: 10px;">
			<span>
			    <span id="day"></span>
  				<span id="header"></span>
			</span>
		</div>
		<div class="items">
			<div class="item">
				<p><b> 10:30 am </b></p>
				<p> Yoga Class </p>
				<p> Core Power </p>
			</div>
			<div class="item">
				<p><b> 10:30 am </b></p>
				<p> Yoga Class </p>
				<p> Core Power </p>
			</div>
			<div class="item">
				<p><b> 10:30 am </b></p>
				<p> Yoga Class </p>
				<p> Core Power </p>
			</div>
		</div>
	</div>
</div>
  </div>
  </body>
  <script>
    var ws = new WebSocket("ws://localhost:40510");
    // event emmited when connected
    ws.onopen = function() {
      console.log("websocket is connected ...");
      // sending a send event to websocket server
      ws.send("connected");
    };
    ws.onmessage = function(ev) {
      console.log(ev.data);
      const path = ev.data;
      window.location.href = "/" + path;
    };
	var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
	var dt = new Date();
	document.getElementById("time").innerHTML = dt.toLocaleTimeString();
	document.getElementById("date").innerHTML = dt.toLocaleDateString();
	document.getElementById("header").innerHTML = dt.toLocaleDateString();
	document.getElementById("day").innerHTML = (dt.toLocaleString(window.navigator.language, {weekday: 'long'})).toUpperCase();
  </script>
</html>
