<!--
  TODO: render a page that greets the user and prompts them for audio input
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Smart Mirror</title>
<!--     <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <style type="text/css">
	  body {
	    background-color: black;
	    padding: 10px 20px;
	  }
      p, li, h1{
        color: white;
        font-family: sans-serif; 
        font-weight: 200;
        margin: 0;
      }

      .content {
        display: flex;
        flex-direction: column; 
        /*height: 100vh; */
        padding: 50px;
      }
       #time {
        font-size: 35px;
      }
      #date {
      	font-size: 20px;
      	font-weight: bold;
      	margin-bottom: 20px;
      }
      #view-comm {
      	font-size: 20px;
      	line-height: 1.2;
      }
	  #title {
	  	font-size: 40px;
	  }
	  .info-box {
	  	font-size: 2rem;
	  }
	  .info-box p{
	  	margin-bottom: 5px;
	  }
	  .weather-box {
	  	margin-top: 25px;
	  	border: white 2px solid; 
        padding: 20px;
        box-sizing: border-box;
        border-radius: 4px;
        display:flex;
        justify-content: space-between;
    	flex-direction:row;
	  }
	  .weather-box p {
	  	font-size: 15px;
	  	line-height: 1.5;
	  }
	  .weather-box div {
	  	display:flex;
    	flex-direction:column;
	  }
	  #temp {
	  	float:right;
	  	font-size: 28px
	  }

	</style>
  </head>
  <body>
<!-- 	<p class="title">
		<b>Hi, Helen! </b>
	</p> -->
<!-- 	<!date and time>
			<p 	style="font-family: sans-serif; font-size: 35px;color: white;  margin-top: -80px; margin-left: 347px">
				<span id="time"></span>
			</p>
			<script>
				var dt = new Date();
				document.getElementById("time").innerHTML = dt.toLocaleTimeString();
			</script>
			<p 	style="font-family: sans-serif-DemiBold, sans-serif; font-style: bold; font-size: 20px;color: white; margin-top: -30px; margin-left: 347px">
				<b> <span id="date"></span> </b>
			</p>

			<script>
				var dt = new Date();
				document.getElementById("date").innerHTML = dt.toLocaleDateString();
			</script>

	<!suggestion>
		<p 	style="font-family: sans-serif; font-size: 20px;color: white; margin-top: 0px; margin-left: 347px">
			Say “view commands” <br/>
			to see what I can do!
		</p>

<!weather box>
	<div style="margin-top: -80px">
		<svg width="196px" height="114px" viewBox="0 0 196 114" style="margin-left: 48px; margin-top: 0px">
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="morning-state" fill-rule="nonzero" stroke="#D9D9D9" stroke-width="2">
	                <rect id="Rectangle" x="1" y="1" width="194" height="112" rx="4"></rect>
		        </g>
		    </g>
		</svg>
		
		<p style="font-family: sans-serif; font-size: 15px;color: white; margin-top: -97px; margin-left: 68px">
			<b> Los Angles </b>
		</p>

		<p style="font-family: sans-serif; font-size: 15px;color: white; margin-top: 9px; margin-left: 68px">
			Sunny
		</p>

		<p style="font-family: sans-serif; font-size: 15px;color: white; margin-top: -10px; margin-left: 68px">
			0% Rain
		</p>

		<p style="font-family: sans-serif; font-size: 28px;color: white; margin-top: -46px; margin-left: 178px">
			75°
		</p>
		<div style="margin-top: -110px; margin-left: 171px">
			<img src="d01.svg" style="width: 50px">
		</div>
	</div>

<!To-do Box>
	<div style="margin-top: 700px">
		<svg width="464px" height="139px" viewBox="0 0 464 139" style="margin-left: 48px; margin-top: 0px>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="morning-state" transform="translate(-48.000000, -824.000000)" fill-rule="nonzero" stroke="#D9D9D9" stroke-width="2">
		            <g id="Schedule-module" transform="translate(48.000000, 824.000000)">
		                <rect id="Rectangle" x="1" y="1" width="462" height="137" rx="4"></rect>
		            </g>
		        </g>
		    </g>
		</svg>

		<div style="margin-top: -127px; margin-left: 68px">
			<img src="d02.svg" style="width: 20px; margin-top: 0px">
		</div>

		<p style="font-family: sans-serif; font-size: 16px;color: white; margin-top: -21px; margin-left: 97px">
			<b> MONDAY 10.28.18 </b>
		</p>

		<svg width="2px" height="70px" viewBox="0 0 2 70" style="margin-left: 202px">
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
		        <g id="morning-state" transform="translate(-192.000000, -876.000000)" fill-rule="nonzero" stroke="#D5D5D5" stroke-width="2">
		            <g id="Schedule-module" transform="translate(48.000000, 824.000000)">
		                <path d="M145,121 L145,53" id="Line"></path>
		            </g>
		        </g>
		    </g>
		</svg>

		<svg width="2px" height="70px" viewBox="0 0 2 70" style="margin-left: 148px">
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
		        <g id="morning-state" transform="translate(-192.000000, -876.000000)" fill-rule="nonzero" stroke="#D5D5D5" stroke-width="2">
		            <g id="Schedule-module" transform="translate(48.000000, 824.000000)">
		                <path d="M145,121 L145,53" id="Line"></path>
		            </g>
		        </g>
		    </g>
		</svg>

		<!Item 1>
		<div style="margin-top: 5px">
			<p style="font-family: sans-serif; font-size: 16px; color: white; margin-top: -77px; margin-left: 68px">
				<b> 10:30 am </b>
			</p>

			<p style="font-family: sans-serif; font-size: 16px; color: white; margin-top: -11px; margin-left: 68px">
				Yoga Class
			</p>

			<p style="font-family: sans-serif; font-size: 12px; color: white; margin-top: -11px; margin-left: 68px">
				Core Power
			</p>
		</div>

		<!Item 2>
		<div style="margin-top: 0px">
			<p style="font-family: sans-serif; font-size: 16px; color: white; margin-top: -72px; margin-left: 222px">
				<b> 10:30 am </b>
			</p>

			<p style="font-family: sans-serif; font-size: 16px; color: white; margin-top: -11px; margin-left: 222px">
				Yoga Class
			</p>

			<p style="font-family: sans-serif; font-size: 12px; color: white; margin-top: -11px; margin-left: 222px">
				Core Power
			</p>
		</div>

		<!Item 3>
		<div style="margin-top: 0px">
			<p style="font-family: sans-serif; font-size: 16px; color: white; margin-top: -72px; margin-left: 376px">
				<b> 10:30 am </b>
			</p>

			<p style="font-family: sans-serif; font-size: 16px; color: white; margin-top: -11px; margin-left: 376px">
				Yoga Class
			</p>

			<p style="font-family: sans-serif; font-size: 12px; color: white; margin-top: -11px; margin-left: 376px">
				Core Power
			</p>
		</div>

	</div> -->
  <div class="content">
  <div style="display: flex; justify-content: space-between;">
    <div>
      <p id="title">
          <b> Hi, Helen! </b>
          <!-- <b><%= title %></b> -->
      </p>
      <div class="weather-box">
      	<div>
			<p><b> Los Angeles </b></p>
			<p>Sunny</p>
			<p>0% Rain</p>
		</div>
		<div>
			<div style="display: block; margin: auto;"><img src="d01.svg" style="width: 50px"></div>
			<p id="temp">75°</p>
		</div>
	  </div>
    </div>
    <div class="info-box">
        <p id="time"></p>
        <p id="date"></p>
        <p id="view-comm"> 
            Say “view commands” <br/>
            to see what I can do!
        </p>
    </div>
  </div>
  </div>
  </body>
  <script>
    var ws = new WebSocket("ws://localhost:40510");
    // event emmited when connected
    ws.onopen = function() {
      console.log("websocket is connected ...");
      // sending a send event to websocket server
      ws.send("connected");
    };
    ws.onmessage = function(ev) {
      console.log(ev.data);
      const path = ev.data;
      window.location.href = "/" + path;
    };
    var dt = new Date();
	document.getElementById("time").innerHTML = dt.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
	document.getElementById("date").innerHTML = dt.toLocaleDateString();
  </script>
</html>
