<!--
  TODO: Write a weather component that displays weather for this week.
  https://drive.google.com/drive/u/0/folders/1VVL2l6mtvzJid14B08FeY12nx9PLVCim
-->

<div>
  <ul>
    <li><h1>Location: <%=city%></h1></li>
    <li><h1>Description: <%=weatherData.weather[0].description%></h1></li>
    <li><h1>Temperature: <%=weatherData.main.temp%> Kelvin</h1></li>
  </ul>
</div>
